body {
	margin: 0;
	padding: 0;
	background: #eaeaea;
	font-family: Verdana;
}

h4 {
	margin: 5px 0 0 10px;
}

#empty {
	width: 40%;
	height: 100%;
	position: absolute;
	background: #b4b4b4;
	top: 0;
	left: 0;
}

#button {
	width: 90%;
	height: 35px;
	background: #333;
	border: 0;
	color: #fff;
	border-radius: 3px;
	margin-top: 20px;
}

#button:hover {
	background: #444;
	cursor: pointer;
}

#inf {
	width: 60%;
	height: 40%;
	background: #777;
	position: absolute;
	right: 0;
	top: 0;
}

#inf img {
	height: 125px;
	width: 125px;
	border-radius: 5px;
	position: absolute;
	right: 5px;
	top: 5px;
}

#log {
	width: 60%;
	height:  60%;
	background: #555;
	position: fixed;
	right: 0;
	bottom: 0;
}

#inputs {
	padding: 20px;
	width: 70%;
	background: #b4b4b4;
	border-radius: 4px;
	margin-top: 10%;
}

#name {
	width: 60%;
	height: 30px;
	border: 0;
	border-radius: 1px;
	font-size: 16px;
}

#game {
	font-size: 24px;
}

